In [1]:
import requests
episodes = requests.get('https://raw.githubusercontent.com/jeffreylancaster/game-of-thrones/master/data/episodes.json').json()['episodes']

In [2]:
out = list()
for episode in episodes:
    episodeNum = episode['episodeNum']
    seasonNum = episode['seasonNum']
    for scene in episode['scenes']:
        out.append(((episodeNum, seasonNum),
                    (scene['sceneStart'], scene['sceneEnd']),
                    set(c['name'] for c in scene['characters'])))

In [3]:
from six import iteritems
cmap = {v: i for i, v in enumerate(sorted(list(set(c for o in out for c in o[2]))))}
cmap_inv = {v: i for i, v in iteritems(cmap)}

In [4]:
import time
import datetime
from itertools import combinations

df = []
def key(a):
    return (a[0][0], a[0][1], a[1][0], a[1][1])

def to_seconds(s):
    x = time.strptime(s.split(',')[0],'%H:%M:%S')
    return datetime.timedelta(hours=x.tm_hour,minutes=x.tm_min,seconds=x.tm_sec).total_seconds()

episode_map = dict()
se_previous, tf, offset_t = None, 0, 0
for element in sorted(out, key=key):
    if se_previous != element[0]:
        se_previous = element[0]
        offset_t += tf
    if len(element[2]):
        ts, tf = to_seconds(element[1][0]), to_seconds(element[1][1])
        for a, b in combinations(sorted([cmap[e] for e in element[2]]), 2):
            df.append((a, b, ts + offset_t, tf + offset_t))
        episode_map[ts + offset_t] = element[0] + (ts, )
        episode_map[tf + offset_t] = element[0] + (tf, )

In [5]:
from stream_graph import TemporalLinkSetDF
ls = TemporalLinkSetDF(df, False, sort_by=None)

In [6]:
import pandas as pd
DF = pd.DataFrame(list(ls.degree_of(direction='both')), columns=['user', 'degree'])

def map(a):
    return cmap_inv[a]

DF['names'] = DF.user.apply(map)
DF = DF.set_index('user')

In [7]:
DF = DF.sort_values(by=['degree'], ascending=False)
DF.head(20)

        degree               names
user
207   131196.0            Jon Snow
500   115846.0    Tyrion Lannister
88    103089.0  Daenerys Targaryen
74    102005.0    Cersei Lannister
421    88605.0         Sansa Stark
209    84269.0       Jorah Mormont
196    66634.0     Jaime Lannister
278    66003.0          Lord Varys
420    65031.0      Sandor Clegane
91     64785.0      Davos Seaworth
479    63194.0       Theon Greyjoy
19     60921.0          Arya Stark
323    59674.0           Missandei
203    56983.0   Joffrey Baratheon
371    48827.0       Petyr Baelish
57     46704.0          Bran Stark
489    44895.0  Tormund Giantsbane
60     42750.0    Brienne of Tarth
72     41527.0       Catelyn Stark
419    41380.0       Samwell Tarly

In [8]:
data = [(map(a), map(b), d) for ((a, b), d) in ls.duration_of(direction='both')]
DF = pd.DataFrame(data, columns=['actor-a', 'actor-b', 'duration'])

In [9]:
DF = DF.sort_values(by=['duration'], ascending=False)
DF.head(20)

                 actor-a             actor-b  duration
659   Daenerys Targaryen       Jorah Mormont   11849.0
621       Davos Seaworth            Jon Snow    8661.0
1314  Daenerys Targaryen           Missandei    8467.0
3139            Jon Snow  Tormund Giantsbane    8439.0
3292          Lord Varys    Tyrion Lannister    7914.0
513     Cersei Lannister     Jaime Lannister    6920.0
3246  Daenerys Targaryen    Tyrion Lannister    6498.0
3242    Cersei Lannister    Tyrion Lannister    6485.0
2523       Petyr Baelish         Sansa Stark    6397.0
3305           Missandei    Tyrion Lannister    6360.0
1323           Grey Worm           Missandei    5667.0
583     Cersei Lannister   Joffrey Baratheon    5505.0
2347            Jon Snow       Samwell Tarly    5308.0
3238               Bronn    Tyrion Lannister    5235.0
1328       Jorah Mormont           Missandei    5162.0
2482   Joffrey Baratheon         Sansa Stark    5092.0
628      Eddison Tollett            Jon Snow    4901.0
429           Bran Stark               Hodor    4773.0
3275       Jorah Mormont    Tyrion Lannister    4609.0
2339               Gilly       Samwell Tarly    4579.0

In [10]:
# Inefficient because we already have cliques..
#mxc = ls.get_maximal_cliques(direction='both')

In [11]:
ls.minimal_temporal_nodeset.df

        u        ts        tf
0       0  203917.0  203993.0
1       1  115123.0  115159.0
2       2  173937.0  174127.0
3       3   42428.0   42515.0
4       3  109828.0  110176.0
5       3  110181.0  110185.0
6       3  110198.0  110205.0
7       3  110208.0  110219.0
8       3  110224.0  110368.0
9       4  131522.0  131529.0
10      4  131546.0  131556.0
11      4  131601.0  131607.0
12      5    4547.0    4732.0
13      6   19080.0   19157.0
14      6   19176.0   19417.0
15      6   64323.0   64412.0
16      6   87250.0   87388.0
17      7   11956.0   12132.0
18      7   14707.0   14763.0
19      7   16333.0   16455.0
20      7   16587.0   16598.0
21      7   17325.0   17442.0
22      7   19555.0   19657.0
23      7   38780.0   39082.0
24      7   40329.0   40508.0
25      7   47862.0   47958.0
26      7   57405.0   57427.0
27      7   58818.0   58897.0
28      7   58910.0   58980.0
29      7   61665.0   61951.0
...   ...       ...       ...
5918  552   70273.0   70376.0
5919  552   73150.0   73334.0
5920  552   93917.0   94021.0
5921  552   94036.0   94049.0
5922  552  186423.0  186753.0
5923  552  202891.0  202959.0
5924  552  205152.0  205337.0
5925  553   40013.0   40138.0
5926  553  111600.0  111613.0
5927  554  197324.0  197366.0
5928  555   13696.0   13946.0
5929  556   40054.0   40138.0
5930  557   40116.0   40138.0
5931  557  111692.0  111707.0
5932  557  111767.0  111781.0
5933  557  111996.0  112005.0
5934  557  112011.0  112020.0
5935  558   40013.0   40138.0
5936  558   63930.0   64253.0
5937  558  111600.0  111613.0
5938  558  111692.0  111707.0
5939  558  131546.0  131556.0
5940  558  162617.0  162637.0
5941  558  224382.0  224536.0
5942  559   40013.0   40086.0
5943  559  111600.0  111613.0
5944  559  111692.0  111707.0
5945  560  170648.0  170772.0
5946  561   18789.0   18820.0
5947  561  110629.0  110903.0

[5948 rows x 3 columns]

In [12]:
cliques = [(t, set(map(n) for n in ns), ns.size) for t, ns in ls.minimal_temporal_nodeset.nodes_at()]

In [13]:
#from operator import itemgetter
#cliques_sorted sorted(cliques, key=itemgetter(2), reverse=True)
indexes = [i[0] for i in sorted(enumerate(cliques), key=lambda x:x[1][2], reverse=True)]

In [14]:
print((cliques[indexes[0]][0], cliques[indexes[0]+1][0]), cliques[indexes[0]][1:])

(1419.0, 1756.0) ({'Jon Snow', 'Theon Greyjoy', 'Sansa Stark', 'Rickon Stark', 'Joffrey Baratheon', 'Jaime Lannister', 'Hodor', 'Myrcella Baratheon', 'Eddard Stark', 'Rodrik Cassel', 'Bran Stark', 'Summer', 'Maester Luwin', 'Tommen Baratheon', 'Catelyn Stark', 'Cersei Lannister', 'Arya Stark', 'Robert Baratheon', 'Jory Cassel', 'Sandor Clegane'}, 20)